# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# Vector Database
vectorstore/

# VS Code
.vscode/

# Streamlit Cache
.streamlit/

# OS Files
.DS_Store
Thumbs.db