streamlit
langchain
langgraph
langchain-community
langchain-core
langchain-openai
langchain-groq

faiss-cpu

sentence-transformers

pypdf

python-dotenv

openai

tiktoken

huggingface_hub

unstructured

pandas

numpy

requests